body {
    display:flex;
    width:auto;
    justify-content: center;
    flex-direction: column;
}


.books {
    color:black;
    display:grid;
    margin:10%;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}

.book {
    background-color: beige;
}

#new-book {
    color:black;
    width:100px;
}